/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Inter;
    color: black;
    padding: 70px;
    padding-top: 50px;
  }
  
  /* Header styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .logo-name{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .nav{
    width: 419px;
    height: 28px;
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    gap: 93px;
  }

  .nav a {
    text-decoration: none;
    color: black;
  }

  .nav a:hover {
    color: #FD921F;
  }

  .search{
    width: 365px;
    height: 34px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    border-radius: 39px;
    border: 1px solid #000;
    background: #FFF;
    padding: 8px;
  }

  .search-box{
    border: none;
  }
  
  .other-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }


/* Cheese details styling */
.cheese-details {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding-top: 113px ;
    
}
.cheese-image {
    position: relative;
    width: 623px;
    height: 760px;
    margin-right: 89px;
}
.cheese-image img {
    border-radius: 10px;
    object-fit: cover;
    width: 623px;
    height: 760px;
}
.image-overlay {
    position: absolute;
    top: 14px;
    right: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
}

.cheese-info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.cheese-info h1 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating-reviews {
    padding-top: 22px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.reviews {
    color: #BEBEBE;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.price{
    padding-top: 18px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    padding-top: 12px;
    width: 736px;
    height: 95px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.category {
    padding-top: 18px;
    color: #FD921F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#cheeseMilk{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Separator styling */
.separator {
    width: 877px;
    height: 3px;
    background: #FD921F;
    margin-top: 43px;
    border: none;
}

.button-container {
    display: flex;
    gap: 50px;
    margin-top: 56px;
}

.quantity-btn-container {
    width: 228px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #FD921F;
    background: rgba(255, 255, 255, 0.00);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-btn {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background-color: rgba(255, 212, 166, 0.60);
    border-radius: 23px;
    border: none;
    font-size: 29px;
    color: #FD921F;
    margin: 8px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.quantity {
    width: 33px;
height: 28px;
flex-shrink: 0;
    color: #FD921F;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.add-to-cart {
    width: 228px;
height: 61px;
flex-shrink: 0;
border-radius: 36px;
border: 1px solid #FD921F;
background: rgba(255, 255, 255, 0.00);
color: #FD921F;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.button{
    border: none;
    background-color: transparent;
}